/* ===== NAVBAR ===== */
.side-menu {
  position: fixed;
  top: 0;
  left: -260px;
  width: 260px;
  height: 100vh;
  padding: 30px 20px;
  background: #0b3c5d;
  color: #fff;
  transition: left 0.3s ease;
  z-index: 150;
}

.side-menu.open {
  left: 0;
}

.side-menu h3 {
  margin-bottom: 40px;
}

.side-menu a {
  display: block;
  padding: 12px 0;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,0.15);
  font-size: 15px;
}

.side-menu a:hover {
  background: rgba(255,255,255,0.1);
}

/* ===== LOGO ===== */
.logo-siscod {
  height: 36px;
  margin-left: 10px;
}

/* ===== HANDLE ===== */
.menu-handle {
  position: absolute;
  top: 50%;
  right: -16px;
  transform: translateY(-50%);
  width: 9px;
  height: 140px;
  background: rgba(255,255,255,0.85);
  border-radius: 8px;
  cursor: pointer;
}

/* HITBOX MÁS GRANDE (invisible) */
.menu-handle::before {
  content: "";
  position: absolute;
  top: -20px;
  bottom: -20px;
  left: -15px;
  right: -15px;
}

.menu-handle:hover {
  height: 200px;
  background: white;
  transition: 0.2s;
}
/* ===== BOTÓN CERRAR ===== */
.close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

.close-btn:hover {
  transform: translateX(-2px);
}

/* ===== CUANDO EL MENÚ ESTÁ ABIERTO ===== */
.side-menu.open .menu-handle {
  display: none;
}

.side-menu.open .close-btn {
  display: block;
}
.side-menu.open {
  box-shadow: 6px 0 22px rgba(0,0,0,0.45);
}
.nav-config {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: 100px;
  padding: 0 0px;
}

/* BOTÓN confg */
.config-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;

  width: 36px;
  height: 36px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;
  transition: background 0.2s, transform 0.1s;
}

.config-btn:hover {
  background: rgba(255,255,255,0.15);
  transform: scale(1.05);
}

/* MENÚ FLOTANTE */
.config-menu {
  position: absolute;
  bottom: 45px;
  right: 0;

  display: none;
  flex-direction: column;

  background: #1b4f72;
  border-radius: 10px;
  overflow: hidden;
  min-width: 180px;

  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.config-menu a {
  color: white;
  text-decoration: none;
  padding: 10px 14px;
  font-size: 14px;
  transition: background 0.2s;
}

.config-menu a:hover {
  background: rgba(255,255,255,0.15);
}

.config-menu.active {
  display: flex;
}